 

    macros {

        typeQu: typeQu {
            label = "typeQu";
            compatible = "zmk,behavior-macro";
            tap-ms = <10>;
            wait-ms = <10>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp Q>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp RSHFT>
                    , <&macro_tap &kp U>
                ;
        };
        digraphTh: digraphTh {
            label = "digraphTh";
            compatible = "zmk,behavior-macro";
            tap-ms = <10>;
            wait-ms = <10>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp T>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp RSHFT>
                    , <&macro_tap &kp H>
                ;
        };
        digraphSh: digraphSh {
            label = "digraphSh";
            compatible = "zmk,behavior-macro";
            tap-ms = <10>;
            wait-ms = <10>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp S>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp RSHFT>
                    , <&macro_tap &kp H>
                ;
        };
        digraphCh: digraphCh {
            label = "digraphCh";
            compatible = "zmk,behavior-macro";
            tap-ms = <10>;
            wait-ms = <10>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp C>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp RSHFT>
                    , <&macro_tap &kp H>
                ;
        };
        digraphWh: digraphWh {
            label = "digraphWh";
            compatible = "zmk,behavior-macro";
            tap-ms = <10>;
            wait-ms = <10>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp W>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp RSHFT>
                    , <&macro_tap &kp H>
                ;
        };
        digraphPh: digraphPh {
            label = "digraphPh";
            compatible = "zmk,behavior-macro";
            tap-ms = <10>;
            wait-ms = <10>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp P>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp RSHFT>
                    , <&macro_tap &kp H>
                ;
        };
        digraphGh: digraphGh {
            label = "digraphGh";
            compatible = "zmk,behavior-macro";
            tap-ms = <10>;
            wait-ms = <10>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp G>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp RSHFT>
                    , <&macro_tap &kp H>
                ;
        };

        trigraphSch: trigraphSch {
            label = "trigraphSch";
            compatible = "zmk,behavior-macro";
            tap-ms = <10>;
            wait-ms = <10>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp S>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp RSHFT>
                    , <&macro_tap &kp C &kp H>
                ;
        };
        trigraphTch: trigraphTch {
            label = "trigraphTch";
            compatible = "zmk,behavior-macro";
            tap-ms = <10>;
            wait-ms = <10>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp T>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp RSHFT>
                    , <&macro_tap &kp C &kp H>
                ;
        };


#ifdef EN_PRONOUN_COMBOS
// Pronouns
        typePnI: pnI {
            label = "pnI";
            compatible = "zmk,behavior-macro";
            tap-ms = <10>;
            wait-ms = <10>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LS(I)>
                    , <&macro_tap &kp SPACE>
                ;
        };
        typePnIm: pnIm {
            label = "pnIM";
            compatible = "zmk,behavior-macro";
            tap-ms = <10>;
            wait-ms = <10>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LS(I)>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp RSHFT>
                    , <&kp APOS &kp M &kp SPACE>
                ;
        };
        typePnId: pnId {
            label = "pnID";
            compatible = "zmk,behavior-macro";
            tap-ms = <10>;
            wait-ms = <10>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LS(I)>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp RSHFT>
                    , <&macro_tap &kp APOS>
                    , <&macro_tap &kp D>
                    , <&macro_tap &kp SPACE>
                ;
        };
        typePnIll: pnIll {
            label = "pnIL";
            compatible = "zmk,behavior-macro";
            tap-ms = <10>;
            wait-ms = <10>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LS(I)>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp RSHFT>
                    , <&macro_tap &kp APOS>
                    , <&macro_tap &kp L>
                    , <&macro_tap &kp L>
                    , <&macro_tap &kp SPACE>
                ;
        };
        typePnIve: pnIve {
            label = "pnIVE";
            compatible = "zmk,behavior-macro";
            tap-ms = <10>;
            wait-ms = <10>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LS(I)>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp RSHFT>
                    , <&macro_tap &kp APOS>
                    , <&macro_tap &kp V>
                    , <&macro_tap &kp E>
                    , <&macro_tap &kp SPACE>
                ;
        };
// YOU
        typePnYoure: pnYoure {
            label = "pnYoure";
            compatible = "zmk,behavior-macro";
            tap-ms = <10>;
            wait-ms = <10>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp Y>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp RSHFT>
                    , <&macro_tap &kp O>
                    , <&macro_tap &kp U>
                    , <&macro_tap &kp APOS>
                    , <&macro_tap &kp R>
                    , <&macro_tap &kp E>
                    , <&macro_tap &kp SPACE>
                ;
        };
        typePnYoud: pnYoud {
            label = "pnYou'd";
            compatible = "zmk,behavior-macro";
            tap-ms = <10>;
            wait-ms = <10>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp Y>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp RSHFT>
                    , <&macro_tap &kp O>
                    , <&macro_tap &kp U>
                    , <&macro_tap &kp APOS>
                    , <&macro_tap &kp D>
                    , <&macro_tap &kp SPACE>
                ;
        };
        typePnYoull: pnYoull {
            label = "pnYou'll";
            compatible = "zmk,behavior-macro";
            tap-ms = <10>;
            wait-ms = <10>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp Y>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp RSHFT>
                    , <&macro_tap &kp O>
                    , <&macro_tap &kp U>
                    , <&macro_tap &kp APOS>
                    , <&macro_tap &kp L>
                    , <&macro_tap &kp L>
                    , <&macro_tap &kp SPACE>
                ;
        };
        typePnYouve: pnYouve {
            label = "pnYou've";
            compatible = "zmk,behavior-macro";
            tap-ms = <10>;
            wait-ms = <10>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp Y>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp RSHFT>
                    , <&macro_tap &kp O>
                    , <&macro_tap &kp U>
                    , <&macro_tap &kp APOS>
                    , <&macro_tap &kp V>
                    , <&macro_tap &kp E>
                    , <&macro_tap &kp SPACE>
                ;
        };
// WE
        typePnWere: pnWere {
            label = "pnWere";
            compatible = "zmk,behavior-macro";
            tap-ms = <10>;
            wait-ms = <10>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp W>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp RSHFT>
                    , <&macro_tap &kp O>
                    , <&macro_tap &kp U>
                    , <&macro_tap &kp APOS>
                    , <&macro_tap &kp R>
                    , <&macro_tap &kp E>
                    , <&macro_tap &kp SPACE>
                ;
        };
        typePnWed: pnWed {
            label = "pnWe'd";
            compatible = "zmk,behavior-macro";
            tap-ms = <10>;
            wait-ms = <10>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp W>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp RSHFT>
                    , <&macro_tap &kp E>
                    , <&macro_tap &kp APOS>
                    , <&macro_tap &kp D>
                    , <&macro_tap &kp SPACE>
                ;
        };
        typePnWell: pnWell {
            label = "pnWe'll";
            compatible = "zmk,behavior-macro";
            tap-ms = <10>;
            wait-ms = <10>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp W>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp RSHFT>
                    , <&macro_tap &kp E>
                    , <&macro_tap &kp APOS>
                    , <&macro_tap &kp L>
                    , <&macro_tap &kp L>
                    , <&macro_tap &kp SPACE>
                ;
        };
        typePnWeve: pnWeve {
            label = "pnWe've";
            compatible = "zmk,behavior-macro";
            tap-ms = <10>;
            wait-ms = <10>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp W>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp RSHFT>
                    , <&macro_tap &kp E>
                    , <&macro_tap &kp APOS>
                    , <&macro_tap &kp V>
                    , <&macro_tap &kp E>
                    , <&macro_tap &kp SPACE>
                ;
        };
#endif // EN_PRONOUN_COMBOS

    };

