            /*           Base (alpha) Layer  (Hands Down Rh)
            Building for a 36 key on a 42 key board (outside column is unused)
                   ╭────────────────────╮ ╭────────────────────╮
                   │  W   G   M   P  J  │ │ #$  .:  /*  "[  '] │
                   │  C   S   N   T  K  | | ,;   A   E   I   H │
                   │  X   F   L   D  V  │ │ -+   U   O   Y   B │
                   ╰───────╮ SPC BSP R  │ │ SPC RET ENT ╭──────╯
                           ╰────────────╯ ╰─────────────╯   */

                default_layer {
                        label = "HD-rh";
                        bindings = <

//   &none &none &none &none &none &none   &none &none &none &none &none &none
//   &none &none &none &none &none &none   &none &none &none &none &none &none
//   &none &none &none &none &none &none   &none &none &none &none &none &none
//                     &none &none &none   &none &none &none

&kp W       &kp G &kp M     &kp P       &kp J                   &HashDllr  &DotColn    &SlshStar   &DqtLbkt    &SqtRbkt
&hrmL LCTRL C &hrmL LALT S  &hrmL LGUI N  &hrmL LSHFT T &lt l_num K &CmmaSemi  &hrmR RSHFT A &hrmR RGUI E  &hrmR RALT I  &hrmR RCTRL H
&kp X       &kp F &kp L     &kp D       &kp V                   &MinusPlus  &kp U      &kp O       &kp Y       &kp B


                &lt l_fn BACKSPACE &lt l_nav R      &lt l_sym SPACE &lt l_nav RETURN
                        >;
                };

