            /*           Base (alpha) Layer  (Hands Down Vibranium)
            Building for a 36 key on a 42 key board (outside column is unused)
                   ╭─────────────────╮ ╭─────────────────╮
                   │  W  X  M  G  J  │ │ #$  .: /* "[ '] │
                   │  C  S  N  T  K  | | ,;   A  E  I  H │
                   │  P  F  L  D  V  │ │ -+   U  O  Y  B │
                   ╰───────╮  BSP R  │ │ SPC RET  ╭──────╯
                           ╰─────────╯ ╰──────────╯   */

                default_layer {
                        label = "HD-vd";
                        bindings = <

//   &none &none &none &none &none   &none &none &none &none &none
//   &none &none &none &none &none   &none &none &none &none &none
//   &none &none &none &none &none   &none &none &none &none &none
//                     &none &none   &none &none

&kp W       &adapt_x &adapt_m     &adapt_g     &kp J                   &HashDllr  &DotColn    &SlshStar   &DqtLbkt   &SqtRbkt
&hm LCTRL C &hm LALT S      &hm LGUI N  &hm LSHFT T &lt l_num K &CmmaSemi  &hm RSHFT A &hm RGUI E  &hm RALT I  &hm RCTRL H
&kp P       &kp F &kp L     &kp D       &kp V                   &MinusPlus  &kp U      &kp O       &kp Y       &kp B


                &lt l_fn BSPC &lt l_nav R      &lt l_sym SPACE &lt l_nav RETURN
                        >;
                };

                adptL {
                        label = "adptL";
                        bindings = <

&kp P   &trans  &kp L   &adaptLG  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&kp T  &kp G  &trans  &kp P  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
                        >;
                };

                adptHU {
                        label = "adptHU";
                        bindings = <

&kp P   ___  ___   ___  ___    ___  ___  ___  ___  ___
___   ___  ___   ___  ___    ___  ___  ___  ___  &kp U
___   ___  ___   ___  ___    ___  ___  ___  ___  ___
                 ___  ___    ___  ___
                        >;
                };
